<h1>Student Information</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @student.first_name %></td>
      <td><%= @student.lastname %></td>
      <td><%= @student.email %></td>
    </tr>
    <tr>
      <td><%= link_to "Back", students_path %></td>
      <td><%= link_to "Edit", edit_student_path(@student) %></td>
    </tr>
  </tbody>
</table>
